@import '../variables';

.dropdown-container {
  border-radius: 5px;
  background-color: transparent;
  color: $gray;
  margin-right: 10px;
  height: 30px !important;
  width: 170px;
}

.language-dropdown-container {
  display: flex;
}

.language-dropdown-image {
  width: 35px !important;
  height: 35px !important;
}
