@import '../variables';

.dropdown-container {
  border-radius: 5px;
  background-color: transparent;
  color: $gray;
  margin-right: 10px;
  height: 30px !important;
  width: 170px;
}

.language-dropdown-container {
  display: flex;

  @media (max-width: $sm-breakpoint + 'px') {
    width: 150px;
    img { 
      display: none;
    }
  }
}

.language-dropdown-image {
  width: 25px !important;
  height: 25px !important;
  margin: 3px 10px 5px 5px;
}
