
@import '../variables';

.homeinfo-slider-video {
  width: 950px;
  height: 501px;

  @media (max-width: $xl-breakpoint + 'px') {
    width: 600px;
    height: 400px;
  }
}

.homeinfo-slider-card-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  border-radius: 10px;
  justify-content: center;
  text-align: left;
  padding: 0 10%;
  left: 7%;
  bottom: -19%;
  height: 100px;
  width: 500px;

  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;

  @media (max-width: $xl-breakpoint + 'px') {
    width: 400px;
    height: 100px;
    bottom: -12%;
  }

  :first-child {
    font-size: 24px;
    line-height: 1.25;
    color: #161616;
  }

  > * {
    color: #929292;
  }

}

.info-container-header {
  width: 60%;
  margin: auto;
}

h2.info-container-title {
  font-size: 40px !important;
}

.info-container-description {
  font-size: 18px;
}

.info-container-header-text {
  text-align: left;
}

.info-container-fighters {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 30px;
}

.info-fighter-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

button.info-fighter-wrapper {
  cursor: pointer;
  display: flex;
  font-size: 21px;
  color: #f5f6f6;
  white-space: nowrap;
  margin-bottom: 80px;
  background-color: transparent;
  height: 40px;

  outline: none !important;

  &.active, &:hover {
    border-bottom: 1px solid grey;
  }

}
