.ReactModal__Content {
  border: none !important;
}

.confirmation_modal_container{
  border: none;
}

.confirm_modal_title {
  background-color: #31333B;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.33;
  text-align: left;
  color: white;
  height: 15%;
  padding: 20px;

  p { padding-top: 5px}
}

.confirm_modal_footer {
  background-color: #31333B;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: white;
  height: 15%;
  padding: 20px;
}

.modal_datepicker {
  display: flex;
  flex-direction: column;
}

.modal_content_column {
  display: flex;
}
