.slick-slide {
  padding: 0 15px;
}

.slick-slider {
  ::before {
    font-size: 40px;
    position: relative;
  }
}

.slick-prev {
  &::before {
    position: relative;
    right: 30px;
  }
}

.slick-next {
  &::before {
    position: relative;
    left: 10px;
  }
}

.slick-list {
  height: 500px !important;
}
