.wpp-cta {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 83%;
  float: right;
  margin-right: 1vw;
  cursor: pointer;
  z-index: 999;

  @media (max-width: 768px) {
    top: 85%;
  }

  img {
    width: 7vw;
    height: 7vw;

    @media (max-width: 768px) {
      height: 12vw;
      width: 12vw;
    }

    @media (max-width: 375px) {
      height: 15vw;
      width: 15vw;
    }

    @media (min-width: 1140px) {
      height: 6vw;
      width: 6vw;
    }
  }
}

