html, body, .home {
	height: 100%;
  font-family: "Poppins" !important;
  background-color: #020612;
  padding-top: 100px;

  @media only screen and (max-width : 576px) {
    padding-top: 20px;
  }
}

body { overflow-x: hidden }

@media only screen and (min-width : 1200px) {
  .container { max-width: 1500px !important; } 
}

#app {
  height: 100%;
  min-height: 750px;
}

.btn {
  -webkit-appearance: none !important;
  word-wrap: break-word;
  white-space: normal;
}

video {
  object-fit: cover;
}

video:focus {
  outline: none;
}

* {
  font-family: "Poppins" !important;
  font-weight: 600 !important;
}

p {
  color: white;
}

h1, h2, h3, h4 { color: white; font-weight: 600 !important; }

h1 {
  font-size: 50px !important;
  text-align: center;
  @media only screen and (max-width : 576px) {
    font-size: 40px !important;
  }
}

h2 {
  font-size: 30px !important;
}

.pad-20 {
  padding-left: 19px;
}

.width-90 {
  min-width: 90%;
}

.email-pad {
  padding-top: 23px;
}

#accordion {
  img {
    width: 35px;
    height: 35px;
  }
}

.navbar-collapse {
  margin-left: 20%;
}

.nav-actions {
  margin-right: 56px;

  @media only screen and (max-width : 992px) {
    margin: 0;
    padding: .5rem 0;
  }
}

#navbarText {
  ul {
    > * {
      margin-right: 0;
    }
  }
}

.dropdown-menu {
  left: -65px !important;
}

.ReactModal__Content {
  padding: 0 !important;
  text-align: center;
}

.small { font-size: 12px; }

.home-container {
  padding-bottom: 158px
}

.home-text {
  padding-top: 25px;
  text-align: left;

  h1 { text-align: left; font-weight: 600; }
  a, button, input { 
    border-radius: 99px;
    height: 40px;
    width: 100%
  }

  input {
    margin-bottom: 10px;
    padding: 20px;
  }

  a.btn, button {
    background-color: #ea0a0a;
  }
}

.registration-container {
  p { color: black; }
}

.checkout-container {
  justify-content: center;
  height: 425px;
  span { color: grey; font-weight: 600; }
  background-color: white;

  @media (max-width: 768px) {
    height: 100%;
  }

  p { color: grey; }

  .pay-button {
    width: 90%;
    height: 40px;
    padding: 8px;
  }

  .missing-email {
    margin-left: 5%;
    width: 90%;
    padding-top: 10px;

    input {
      width: 100%;
      height: 40px;
      padding: 10px;
    }
  }
}

.bi-shield-lock {
  color: white;
}

.small-copy {
  font-size: 10px;
  padding: 10px 30px;
  color: grey;
}

.parallax {
  height: 634px;
  width: auto;
}

.big {
  font-size: 24px;
}

.flex {
  display: flex;
}

.stars-container {
  padding: 30px 0 80px;
  background-color: #191c21;
}

.newbie-form {
  margin: auto;
  width: 80%;
  height: 80%;
}

.card-form{
  margin-left: -20px !important;
}

.card-field {
  padding: 3%;
  text-align: left;

  .stripe-name {
    width: 256px;
    padding: 8px;
    height: 35px;
    border: none;
    border-bottom: solid 1px black;
    background-color: white;
    margin-top: 15px;
  }

  .stripe-name:focus {
    outline: none;
  }

  .expiry { margin-right: 20px; }

  .rccs {
    margin-top: 5px;
  }

  .stripe-label {
    color: black;
    font-size: 14px;
  }

  label { color: black; }

  .StripeElement {
    border-bottom: solid 1px black;
    padding: 8px;
    height: 35px;
  }
}

.footer {
  height: 60px;
  padding-top: 10px;
  line-height: 60px;
  width: 100%;

  img {
    margin-right: 12px !important;
  }

  .footer-header {
    p {
      color: #838aa6;
      font-weight: 600;
    }
  }

  .social {
    color: white;
  }

  p {
    text-decoration: underline;
  }

  .row-1 {

    a:hover {
      cursor:pointer !important;
    }

    p {
      color: #f5f6f6;
      font-weight: 300;
    }

    a { color: white !important }

    a.btn {
      background-color: #3b414a;
      color: white;
      border: none;
      border-radius: 99px;
      width: 215px;
      height: 50px;
    }

    img {
      padding-right: 10px;
      width: 25px;
      height: 60px;
    }
  }

  .last-row {
    a { padding: 0 20px }
    padding-left: 15px;
  }

  .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: white;
  }

  .enroll-as-a-star-btn {
    background-color: #3b414a;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    white-space: normal;
    word-wrap: break-word;
    -webkit-appearance: none;

    @media only screen and (max-width : 576px) {
      width: 150px;
      font-size: 15px;
    }
  }
}



.card-body {
  padding: 0 !important;
  margin: auto;
}

.card-text {
  font-weight: bold;
}

.info-container {
  text-align: center;
  margin-bottom: 30px;
  background-color: #020612;
  padding-top: 159px;
  padding-bottom: 109px;

  h2 {
    font-size: 30px !important;
    font-weight: bold;
    color: white;
  }

  h3 {
    color: red;
    font-size: 25px !important;
    font-weight: bold;
  }

  h4 {
    margin: 40px;
    font-weight: bold;
  }

  h5 {
    font-size: 20px !important;
  }

  .text-row {
    padding-bottom: 124px;
  }
}

.exclusive-container {
  background-color: #020612;
  border-top: solid 2px #7b7e83;
  border-bottom: solid 2px #7b7e83;
  padding: 39px 0;
}

.announcements-container {
  background-color: #191c21;
  padding-bottom: 100px;

  img {
    width: 292px;
    height: 380px;
    padding-bottom: 50px;
  }

  .pictures {
    padding: 50px;

    @media only screen and (max-width: 768px) {
      padding: 20px 0;
    }

    @media only screen and (max-width : 576px) {
      display: flex;
      flex-direction: column;
    }
  }

}

.faqs-container {
  padding: 100px 0;
  background-color: #191c21;

  .card-body {
    padding: 5px 35px !important;
  }

  .card-header {
    button {
      float: right;
      background-size: cover !important;
      width: 30px;
      height: 30px
    }
    p { max-width: 80%; }
  }
}

.steps {
  margin-bottom: 50px;
  text-align: left;
  img { height: 400px; flex: 1 0; }
}

.step1 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 0 };
}

.step2 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 20px 0 0 };
}

.step3 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 0 };
}

.step1-text {
  margin-left: 10%;
}

.step2-text {
  margin-right: 10%;
}

.step3-text {
  margin-left: 10%;
}

.step-content {
  display: flex;
  flex: 1 0 50%;
}

.terms-container {
  background-color: #020612;
  padding: 0 20%;

  h4 { padding: 15px 0; }
  p {padding: 5px 0;}

  div {
    padding: 30px;
    justify-content: left;
  }
}

.fighters-container {
  padding-top: 20px;
}

.fighter-container {
  background-color: #020612;
  
  h2 { text-align: center }

  .navbar {
    padding-left: 20%;
    margin-top: -6px;

    li { padding-right: 15%; }

    a { width: max-content }

    ul {
      margin: auto;
      width: 80%;
    }
  }

  .bold {
    font-weight: bold;
  }

  .cover-container {
    position: relative;
    text-align: center;
    color: white;

    button {
      height: 50px;
      padding: 9px 84px 18px 83px;
      border-radius: 99px;
      background-color: #ea0a0a;

      @media (max-width: 610px) {
        height: 35px;
        padding: 0 24px 18px 24px;
      }
    }
  }

  .centered {
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 60px;
    font-weight: bold;
    transform: translate(-50%, -50%);

    @media (max-width: 512px) {
      top: 70%;
    }

    p {
      font-size: 60px;
      font-weight: bold !important;
      color: white;
      
      @media (max-width: 680px) {
        font-size: 30px !important;
      }

      @media (min-width: 778px) {
        font-size: 40px !important;
      }
    }
  }

  .fighter-cover {
    width: 100%;
    height: calc(100vh - 100px);
  }

  .stars-container {
    border-bottom: solid 2px #7b7e83;
  }

  .presentation-card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
  }

  .red-line {
    color: red;
    border: solid 1px;
    width: 50%;
  }

  .avatar-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  .fighter-avatar {
    width: 200px;
    height: 200px;
    border-radius: 65px;
    object-fit: fill;
  }

  .video-text {
    padding-top: 10px;
  }

  .how-it-works {
    color: white;
    text-align: center;

    button { width: 100% }

    @media (max-width: 389px) {
      margin-bottom: 40px;
    }

    .content {
      padding: 20px;
      width: 100%;
      height: 80%;
      
      @media (min-width: 768px) {
        background-color: #191c21;
        margin-bottom: 30px;
        padding: 30px 50px 50px 50px;
      }

      @media (max-width: 389px) {
        margin-top: 40px;
      }
    }


    .text {
      height: 20%;
    }
  }

  .main-content {
    display: flex;
    padding-top: 50px;

    button {
      max-height: 35px;
      border: solid red 1px;
      border-radius: 36px;
      font-weight: bold;
      padding: 5px 0;
      font-size: 16px;
      background-color: #ea0a0a;
    }
  }

  .foot-banner {
    margin-bottom: 50px;
    text-align: center;

    .text {
      display: flex;
      text-align: center;

      div {
        margin: 3%;
      }
    }
  }
}

.stars-preview-container {
  height: 100%;
  justify-content: center;
  text-align: center;

  .stars-container {
    height: 100%;
  }
}

.blank-line {
  border: solid 1px grey;
  margin: 20px 0;
}

.small-blank-line {
  border: solid 1px white;
  margin: 20px 0; 
  width: 50px;
  margin: auto;
}

.change-name-modal__container {
  form { margin: 15px; }

  input { width: 100%; margin: 5px 0; height: 100%; }

  label { float: left; font-weight: bold; font-size: 14px; }

  button { margin-top: 10px; }
}

.fighter-sub {
  height: 75px;

  img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: contain;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0 0 10px;
  }
}

.user-home-container {
  min-height: 1500px;

  h3 { font-size: 18px; }


  .user-home {
    min-height: inherit;
    background-color: #020612;
    border-bottom: solid 2px grey;

    .info {
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

  }

  .user-feed-container {
    background-color: #191c21;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    nav { background-color: #191c21 !important; }

    .feed-content {
      
      .content-row{
        align-content: center;
        margin: auto;
        width: 80%;

        p { padding: 7px 0; }
        
        .content-img {
          width: 100%;
        }

        .fighter-title {
          p {
            padding-top: 15px;
            font-size: 18px;
            font-weight: 600;
          }
        }

        .fighter-img {
          border-radius: 50%;
          object-fit: contain;
          width: 55px;
          height: 55px;
          margin-right: 20px;
        }
      }

      .no-support {
        padding: 50px 135px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;

        .link-button {
          border-radius: 99px;
          background-color: #ea0a0a;
          color: white;
          font-weight: 600;
          background-color: #ea0a0a;
        }
      }

    }
  }

  .user-feed {
    border-bottom: solid 1px grey;
    padding: 0;
    margin-bottom: 17px;

    .nav-tabs {
      border-bottom: solid 1px red;
      a { color: white; }
    }
  
  }

  .find-athletes {
    background-color: #191c21;
    border-radius: 10px;
    padding: 40px 25px;

    .link-button {
      border-radius: 99px;
      margin-bottom: 10px;
      border: solid 2px #838aa6;
      font-weight: bold;
      color: #838aa6;
    }
  }

  .user-avatar {
    background-color: #191c21;
    border-radius: 10px;
    padding: 40px 25px 0 25px;
    margin-bottom: 10px;

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .info { text-align: center; }
  }
}

.dropdown {
  span {color: rgba(255, 255, 255, 0.5);}
}

.profile-container {
  min-height: 1500px;
  background-color: #020612;
  border-bottom: solid 2px grey;
  padding: 50px;


  .info {
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .link-button {
    border-radius: 99px;
    background-color: #ea0a0a;
    color: white;
    font-weight: 600;
    background-color: #ea0a0a;
    width: 100%;
  }

  .update-btn {
    height: 40px;
    margin-top: 25px;
  }

  h2 {
    text-align: center;
    text-decoration: underline;
  }

  input {
    margin: 25px 0;
    width: 100%;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    color: gray;
  }
}

.watch-container {
  min-height: 750px;
  background-color: #020612;
  padding: 20px;
  align-content: center;
  overflow-wrap: anywhere;

  .stars-container {
    background: none;
  }

  .fighter-link {
    color: white;
    display: contents;
  }
}

.fighter-videos {
  padding: 50px;

}

.home-exclusive-image {
  width: 100%;
  max-width: 700px;


  @media (max-width: 768px) {
    margin-top: 15px;
  }

  .center {
    margin: auto;
    width: 90%
  }

}
