html, body, .home {
	height: 100%;
  font-family: "Poppins" !important;
  background-color: #020612;
  padding-top: 100px;
}

#app {
  height: 100%;
}

* { font-family: "Poppins" !important; }

p {
  color: white;
}

h1 {
  font-size: 50px !important;
  text-align: center;
  color: white;
}

h2 {
  font-size: 30px !important;
  font-weight: 600 !important;
  color: white;
}

.navbar-collapse {
  margin-left: 20%;
}

.ReactModal__Content {
  padding: 0 !important;
  text-align: center;
}

.small { font-size: 12px; }

.home-container {
  padding-bottom: 158px
}

.home-text {
  padding-top: 25px;
  text-align: left;

  h1 { text-align: left; font-weight: 600; }
  button, input { width: 100% }
}

.checkout-container {
  justify-content: center;
  height: 300px;
  span { color: grey; font-weight: 600; }
}

.bi-shield-lock {
  color: white;
}

.small-copy {
  font-size: 10px;
  padding: 10px;
  color: grey;
}

.parallax {
  height: 634px;
  width: auto;
}

.big {
  font-size: 24px;
}

.flex {
  display: flex;
}

.stars-container {
  padding: 40px 0 80px;
  background-color: #191c21;
}

.card-field {
  padding: 3%;
  text-align: left;

  .StripeElement {
    border: solid 1px grey;
    padding: 15px;
  }
}

.footer {
  height: 60px;
  padding-top: 10px;
  line-height: 60px;
  width: 100%;

  .footer-header {
    p {
      color: #838aa6;
      font-weight: 600;
    }
  }

  .row-1 {
    p {
      color: #f5f6f6;
      font-weight: 300;
    }

    button {
      background-color: #3b414a;
      color: white;
      border: none;
      width: 190px;
      height: 70px;
    }
  }

  .language-row {
    border-bottom: solid 1px white;
  }
}



.card-body {
  padding: 0 !important;
  margin: auto;
}

.card-text {
  font-weight: bold;
}

.fighters-container {
  display: flex;
  flex-wrap: wrap;
}

.info-container {
  text-align: center;
  margin-bottom: 30px;
  background-color: #020612;
  padding-top: 159px;
  padding-bottom: 109px;

  h2 {
    font-size: 30px !important;
    font-weight: bold;
    color: white;
  }

  h3 {
    color: red;
    font-size: 25px !important;
    font-weight: bold;
  }

  h4 {
    margin: 40px;
    font-weight: bold;
  }

  h5 {
    font-size: 20px !important;
  }

  .text-row {
    padding-bottom: 124px;
  }
}

.exclusive-container {
  background-color: #020612;
  border-top: solid 2px #7b7e83;
  border-bottom: solid 2px #7b7e83;
  padding: 39px 0;
}

.announcements-container {
  background-color: #191c21;
  padding-bottom: 100px;

  img {
    width: 292px;
    height: 380px;
    padding-bottom: 50px;
  }

  .pictures {
    padding: 50px;
  }
}

.faqs-container {
  padding: 100px 0;

  .card-body {
    padding: 5px 35px !important;
  }

  .card-header {
    button {
      float: right;
      background-size: cover !important;
      width: 30px;
      height: 30px
    }
    p { max-width: 80%; }
  }
}

.steps {
  margin-bottom: 50px;
  text-align: left;
  img { height: 400px; flex: 1 0; }
}

.step1 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 0 };
}

.step2 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 20px 0 0 };
}

.step3 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 0 };
}

.step1-text {
  margin-left: 10%;
}

.step2-text {
  margin-right: 10%;
}

.step3-text {
  margin-left: 10%;
}

.step-content {
  display: flex;
  flex: 1 0 50%;
}

.terms-container {
  background-color: #020612;

  h2, h3, h4 { color: white; }
  h4 { padding: 15px 0; }
  p {padding: 5px 0;}

  div {
    padding: 30px;
    justify-content: left;
  }
}

.fighter-container {
  background-color: #020612;
  
  h2 { text-align: center }
  
  button {
    max-height: 35px;
    border: solid red 1px;
    border-radius: 36px;
    font-weight: bold;
    padding: 5px 0;
    font-size: 16px;
    background-color: #ea0a0a;
  }

  .navbar {
    padding-left: 20%;
    margin-top: -6px;

    li { padding-right: 15%; }

    a { width: max-content }
  }

  .bold {
    font-weight: bold;
  }

  .fighter-cover {
    width: 100%;
    height: 753px;
  }

  .presentation-card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
  }

  .red-line {
    color: red;
    border: solid 1px;
    width: 50%;
  }

  .avatar-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  .fighter-avatar {
    width: 200px;
    height: 200px;
    border-radius: 65px;
    object-fit: fill;
  }

  .video {
    padding: 0 50px;
  }

  .video-text {
    padding-top: 10px;
  }

  .how-it-works {
    color: white;
    max-width: 30%;
    margin-left: 10%;
    text-align: center;

    button { width: 100% }

    .content {
      background-color: #191c21;
      padding: 50px;
      width: 250px;
    }


    .text {
      height: 20%;
    }
  }

  .main-content {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .foot-banner {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;

    .text {
      display: flex;
      text-align: center;

      div {
        margin: 3%;
      }
    }
  }
}

.stars-preview-container {
  margin: auto;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.change-name-modal__container {
  form { margin: 15px; }

  input { width: 100%; margin: 5px 0; }

  label { float: left; font-weight: bold; font-size: 14px; }

  button { margin-top: 10px; }
}