html, body, .home {
	height: 100%;
  font-family: "Poppins" !important;
  background-color: #020612;
  padding-top: 100px;
}

@media only screen and (min-width : 1200px) {
  .container { max-width: 1500px !important; } 
}

#app {
  height: 100%;
}

video:focus {
  outline: none;
}

* {
  font-family: "Poppins" !important;
  font-weight: 600 !important;
}

p {
  color: white;
}

h1, h2, h3, h4 { color: white; font-weight: 600 !important; }

h1 {
  font-size: 50px !important;
  text-align: center;
}

h2 {
  font-size: 30px !important;
}

.pad-20 {
  padding-left: 20px;
}

.navbar-collapse {
  margin-left: 20%;
}

.nav-actions {
  margin-right: 70px;
}

.ReactModal__Content {
  padding: 0 !important;
  text-align: center;
}

.small { font-size: 12px; }

.home-container {
  padding-bottom: 158px
}

.home-text {
  padding-top: 25px;
  text-align: left;

  h1 { text-align: left; font-weight: 600; }
  a, button, input { 
    border-radius: 99px;
    height: 40px;
    width: 100%
  }

  input {
    margin-bottom: 10px;
    padding: 20px;
  }

  a.btn, button {
    background-color: #ea0a0a;
  }
}

.registration-container {
  p { color: black; }
}

.checkout-container {
  justify-content: center;
  height: 400px;
  span { color: grey; font-weight: 600; }
  background-color: antiquewhite;

  p { color: black; }

  .pay-button { width: 400px; }

  .missing-email {
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;

    input {
      width: 100%;
      height: 40px;
      padding: 10px;
    }
  }
}

.bi-shield-lock {
  color: white;
}

.small-copy {
  font-size: 10px;
  padding: 10px 30px;
  color: grey;
}

.parallax {
  height: 634px;
  width: auto;
}

.big {
  font-size: 24px;
}

.flex {
  display: flex;
}

.stars-container {
  padding: 30px 0 80px;
  background-color: #191c21;
}

.newbie-form {
  margin: auto;
  width: 80%;
  height: 80%;
}

.card-form{
  margin-left: -20px !important;
}

.card-field {
  padding: 3%;
  text-align: left;

  .stripe-container {
    width: 90%;
  }

  .stripe-name {
    width: 240px;
    padding: 8px;
    height: 35px;
    border: none;
    border-bottom: solid 1px black;
    background-color: antiquewhite;
    margin-top: 15px;
  }

  .stripe-name:focus {
    outline: none;
  }

  .expiry { margin-right: 20px; }

  .rccs {
    margin-right: 50px;
    margin-top: 5px;
  }

  .stripe-label {
    color: black;
    font-size: 14px;
  }

  label { color: black; }

  .StripeElement {
    border-bottom: solid 1px black;
    padding: 8px;
    height: 35px;
  }
}

.footer {
  height: 60px;
  padding-top: 10px;
  line-height: 60px;
  width: 100%;

  .footer-header {
    p {
      color: #838aa6;
      font-weight: 600;
    }
  }

  .row-1 {
    a { color: white !important; }

    p {
      color: #f5f6f6;
      font-weight: 300;
    }

    a.btn {
      background-color: #3b414a;
      color: white;
      border: none;
      border-radius: 99px;
      width: 215px;
      height: 50px;
    }

    img {
      padding-right: 10px;
      width: 25px;
      height: 60px;
    }
  }

  .language-row {
    border-bottom: solid 1px white;
  }

  .last-row {
    a { padding: 0 20px }
  }

  .dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: white;
  }
}



.card-body {
  padding: 0 !important;
  margin: auto;
}

.card-text {
  font-weight: bold;
}

.info-container {
  text-align: center;
  margin-bottom: 30px;
  background-color: #020612;
  padding-top: 159px;
  padding-bottom: 109px;

  h2 {
    font-size: 30px !important;
    font-weight: bold;
    color: white;
  }

  h3 {
    color: red;
    font-size: 25px !important;
    font-weight: bold;
  }

  h4 {
    margin: 40px;
    font-weight: bold;
  }

  h5 {
    font-size: 20px !important;
  }

  .text-row {
    padding-bottom: 124px;
  }
}

.exclusive-container {
  background-color: #020612;
  border-top: solid 2px #7b7e83;
  border-bottom: solid 2px #7b7e83;
  padding: 39px 0;
}

.announcements-container {
  background-color: #191c21;
  padding-bottom: 100px;

  img {
    width: 292px;
    height: 380px;
    padding-bottom: 50px;
  }

  .pictures {
    padding: 50px;
  }
}

.faqs-container {
  padding: 100px 0;

  .card-body {
    padding: 5px 35px !important;
  }

  .card-header {
    button {
      float: right;
      background-size: cover !important;
      width: 30px;
      height: 30px
    }
    p { max-width: 80%; }
  }
}

.steps {
  margin-bottom: 50px;
  text-align: left;
  img { height: 400px; flex: 1 0; }
}

.step1 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 0 };
}

.step2 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 20px 0 0 };
}

.step3 {
  display: flex;
  margin: 0 10%;
  * { margin: 10px 0 };
}

.step1-text {
  margin-left: 10%;
}

.step2-text {
  margin-right: 10%;
}

.step3-text {
  margin-left: 10%;
}

.step-content {
  display: flex;
  flex: 1 0 50%;
}

.terms-container {
  background-color: #020612;
  padding: 0 20%;

  h4 { padding: 15px 0; }
  p {padding: 5px 0;}

  div {
    padding: 30px;
    justify-content: left;
  }
}

.fighters-container {
  padding-top: 20px;
}

.fighter-container {
  background-color: #020612;
  
  h2 { text-align: center }

  .navbar {
    padding-left: 20%;
    margin-top: -6px;

    li { padding-right: 15%; }

    a { width: max-content }
  }

  .bold {
    font-weight: bold;
  }

  .cover-container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 60px;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }

  .fighter-cover {
    width: 100%;
    height: 753px;
  }

  .stars-container {
    border-bottom: solid 2px #7b7e83;
  }

  .presentation-card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
  }

  .red-line {
    color: red;
    border: solid 1px;
    width: 50%;
  }

  .avatar-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }

  .fighter-avatar {
    width: 200px;
    height: 200px;
    border-radius: 65px;
    object-fit: fill;
  }

  .video {
    padding: 0 50px 50px 50px;
  }

  .video-text {
    padding-top: 10px;
  }

  .how-it-works {
    color: white;
    max-width: 30%;
    margin-left: 10%;
    text-align: center;

    button { width: 100% }

    .content {
      background-color: #191c21;
      padding: 50px;
      width: 250px;
    }


    .text {
      height: 20%;
    }
  }

  .main-content {
    display: flex;
    padding-top: 50px;

    button {
      max-height: 35px;
      border: solid red 1px;
      border-radius: 36px;
      font-weight: bold;
      padding: 5px 0;
      font-size: 16px;
      background-color: #ea0a0a;
    }
  }

  .foot-banner {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;

    .text {
      display: flex;
      text-align: center;

      div {
        margin: 3%;
      }
    }
  }
}

.stars-preview-container {
  height: 100%;
  justify-content: center;
  text-align: center;

  .stars-container {
    height: 100%;
  }
}

.blank-line {
  border: solid 1px grey;
  margin: 20px 0;
}

.small-blank-line {
  border: solid 1px white;
  margin: 20px 0; 
  width: 50px;
  margin: auto;
}

.change-name-modal__container {
  form { margin: 15px; }

  input { width: 100%; margin: 5px 0; height: 100%; }

  label { float: left; font-weight: bold; font-size: 14px; }

  button { margin-top: 10px; }
}

.user-home-container {
  min-height: 1500px;

  h3 { font-size: 18px; }


  .user-home {
    min-height: inherit;
    background-color: #020612;
    border-bottom: solid 2px grey;

    .info {
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .fighter-sub {
      height: 75px;

      p {
        font-size: 18px;
        font-weight: 600;
        padding: 8px 0 0 10px;
      }
    }
  }

  .user-feed-container {
    background-color: #191c21;
    padding: 20px 10px;
    border-radius: 10px;

    nav { background-color: #191c21 !important; }

    .feed-content {
      
      .content-row{
        align-content: center;
        margin: auto;
        width: 80%;

        p { padding: 7px 0; }
        
        img {
          width: 100%;
        }
      }

      .no-support {
        padding: 50px 135px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;

        .link-button {
          border-radius: 99px;
          background-color: #ea0a0a;
          color: white;
          font-weight: 600;
          background-color: #ea0a0a;
        }
      }

    }
  }

  .user-feed {
    border-bottom: solid 1px grey;
    padding: 0;
    margin-bottom: 17px;

    .nav-tabs {
      border-bottom: solid 1px red;
      a { color: white; }
    }
  
  }

  .find-athletes {
    background-color: #191c21;
    border-radius: 10px;
    padding: 40px 25px;

    .link-button {
      border-radius: 99px;
      margin-bottom: 10px;
      border: solid 2px #838aa6;
      font-weight: bold;
      color: #838aa6;
    }
  }

  .user-avatar {
    background-color: #191c21;
    border-radius: 10px;
    padding: 40px 25px;

    .fighter-sub {
      img {
        width: 45px;
        height: 45px;
        object-fit: contain;
      }
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .info { text-align: center; }
  }
}

.dropdown {
  span {color: rgba(255, 255, 255, 0.5);}
}

.profile-container {
  min-height: 1500px;
  background-color: #020612;
  border-bottom: solid 2px grey;
  padding: 50px;


  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  input { margin: 30px; }
}

.watch-container {
  min-height: 1500px;
  background-color: #020612;
  padding: 50px;
  align-content: center;
  text-align: center;
}