.custom-header {
  min-height: 70px;
  background-color: #020612;
  color: #020612;

  nav { height: 100% }

  img {
    padding-right: 10px;
  }
  
  .main-logo {
    cursor: pointer;
  }

  a { font-weight: bold; }

  ul > li { margin: 0 30px }
}

.navbar {
  background-color: #020612;
}