.custom-header {
  min-height: 55px;
  min-height: 55px;
  background-color: #020612;
  color: #020612;
  nav { 
    height: 100%;
    box-shadow : 0px 4px 36px 12px rgba(0, 0, 0, 0.4);
  }
  
  .navbar {
    background-color: #202020;
  }

  .main-logo {
    background: white;
    cursor: pointer;
    min-height: inherit;
    padding-top: 10px;

    img {
      padding: 10px;
    }
  }

  a { font-weight: bold; }

  ul > li {
    padding: 15px;
  }
}

.navbar {
  background-color: #020612;
  padding: 0 !important;
  min-height: 70px;
}

.navbar-nav {
  min-height: 70px;

  .nav-link {
    color: white !important;
  }
}
  
.navbar-collapse {
  min-height: 70px;
}

.nav-actions {
  cursor: pointer;
}