.custom-header-mobile {
  .main-logo {
    background: white;
    cursor: pointer;
    min-height: inherit;
    padding-top: 15px;

    img {
      padding: 10px;
      height: 40px;
    }
  }

  .navbar-collapse {
    margin-right: 5px;
  }
}

.custom-header {
  min-height: 55px;
  min-height: 55px;
  background-color: #020612;
  color: #020612;
  nav { 
    height: 100%;
    box-shadow : 0px 4px 36px 12px rgba(0, 0, 0, 0.4);
  }
  
  .navbar {
    background-color: #202020;
  }

  .main-logo {
    background: white;
    cursor: pointer;
    min-height: inherit;
    padding-top: 15px;
    
    img {
      padding: 10px;
      height: 40px;
    }
  }

  a { font-weight: bold; }

  ul > li {
    padding: 15px;
  }
  .nav-item{
    min-width: 130px;
    max-width: 170px;
    display: flex;
    justify-content: center;
    font-weight: normal !important;
  }
}

.navbar {
  background-color: #020612;
  padding: 0 !important;
  min-height: 70px;
}

.navbar-nav {
  min-height: 70px;

  .nav-link {
    color: white !important;
    font-weight: 500 !important;
    @media (max-width: 768px) {
      display: flex;
      border-bottom: solid;
      border-color: #373737;
      border-width: 1px;
      padding-left: 30px !important;
      width: 100vw;
    }
  }
}
  
.navbar-collapse {
  min-height: 70px;
}

.nav-actions {
  cursor: pointer;
  @media (max-width: 768px) {
    display: flex;
    border-bottom: solid;
    border-color: #373737;
    border-width: 1px;
    padding-left: 30px !important;
    width: 100vw;
    padding:0px;
  }
}