.change-name-modal__container {  
  height: fit-content;

  .container {
    height: fit-content;
  }
}

.modal_title {
  background-color: #020612;
  border: none;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: white;
  height: fit-content;
  padding: 20px;

  @media(max-width: 272px) {
    font-size: 20px !important;
  }
}

.modal_datepicker {
  display: flex;
  flex-direction: column;
}

.modal_content_column {
  display: flex;
}
